<table class="table"> 
    <tbody>

      <tr>   
        <td>Страна</td>
        <td>{{ product.country }}</td>    
      </tr>

      <tr>   
        <td>Сорт</td>
        <td>{{ product.grade }}</td>    
      </tr>

      <tr>   
        <td>Аромат</td>
        <td>{{ product.scent }}</td>    
      </tr>

      <tr>   
        <td>История</td>
        <td>{{ product.history }}</td>    
      </tr>

      <tr>   
        <td>Цветочный горшок</td>
        <td>{{ product.flower_pot }}</td>    
      </tr>

    </tbody>
</table>   